<div class="row footer-top p-3" style="background-color: #212f3c; min-height: 200px;">
    <!-- Mylinks -->
    <div class="col-sm-4 mylinks text-center" style="border-right:2px solid silver; color: white;">
        <a href="{{url_for('open_about')}}" style="text-decoration: none;"><h2 class="text-center text-white">About Us</h2></a>
        <p style="text-align: left;">
            The "Simple Chatbot for College Queries" is an AI & DS based application that allows new or prospective students to interact with a virtual assistent (chatbot) and get answers to frequently asked questions related to the college.
        </p>
    </div>
    <!-- Address -->
    <div class="col-sm-4 address" style="border-right:2px solid silver; color:white; font-size: 18px;">
        <h2 class="text-center text-white">Adderss</h2>
        <a href="https://maps.app.goo.gl/dxM5PBEqjWfxrnvR8"><i class="bi bi-building" style="color:silver"></i></a>&nbsp; Address :- SMS Varanasi campus, Khusipur, Bachhawn, Uttar Pardesh 221011<br>
        <i class="bi bi-envelope-at" style="color:silver"></i>&nbsp; Email Id :- info@smsvaransi.com<br>
        <i class="bi bi-phone-fill"style="color:silver"></i>&nbsp; Contact No :- +91-9161337733, +91-7052055555 
    </div>
    <!-- Follow us on -->
    <div class="col-sm-4 social text-white text-center">
        <h2 class="text-center text-white">Follow us on</h2>
        <a href="https://www.facebook.com/share/1CLLex9mfN/"><i class="bi icon text-center bi-facebook"></i></a>
        <a href="https://x.com/shivams46739232?t=vZbBko6TEmTIBsCC8Po1Ww&s=09"><i class="bi icon text-center bi-twitter-x"></i></a>
        <a href="https://www.instagram.com/shivamkumar.96?igsh=MXhkcWx3cjlvcmJqdg=="><i class="bi icon text-center bi-instagram"></i></a>
        <a href="https://www.youtube.com/@story_wala_1432"><i class="bi icon text-center bi-youtube"></i></a>
        <a href="https://github.com/shivamkumar969"><i class="bi icon text-center bi-github"></i></a>
        <a href="https://www.linkedin.com/in/shivamkumar69"><i class="bi icon text-center bi-linkedin"></i></a>
        <p class="text-center text-white">Subscribe our News Letter.</p>
        <!-- <div class="row subscribe">
            <div class="col-sm-1"></div>
            <div class="col-sm-8" class="input-group mb-3" style="padding: 0px;">
                <input type="email" class="form-control" placeholder="Enter your emailid" aria-label="Enter your emailid" aria-describedby="subscribe">
            </div>
            <div class="col-sm-2 p-0">
                <button class="btn btn-outline-secondary btn-info" type="button" id="subscribe">Subscribe</button>
            </div>
            <div class="col-sm-1"></div>
        </div> -->
        <div class="" >
                
                
            </div>
    </div>
</div>
<div class="row footer-bottom text-center text-white pt-3" style="background-color: black; min-height: 50px;">
    <div class="col-sm-6">Copyeight &copy;  <a href="https://smsvaranasi.com/" target="_blank" style="color: azure;">SMS Varanasi</a> </div>
    <div class="col-sm-6">Developed by : <a href="{{url_for('open_developer')}}" style="color: white;">Er. Shivam Kumar</a></div>
</div>
<style>
    /* Initial style for ALL icons */
    .icon {
        font-size: 25px;
        margin-left: 10px;
        color: silver; /* Initial color */
        transition: color 0.3s, transform 0.3s; /* Smooth transition for hover */
    }

    /* The hover effect */
    .icon:hover {
        color: white; /* Color on hover */
        transform: scale(1.1); /* Slightly enlarge the icon on hover */
        cursor: pointer;
    }
</style>