<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% include 'common/mylinks.html' %}
</head>
<body>
    <div class="container-fluid" style="background-color: #fff9f7;">
        {% include 'common/header.html' %}
        <div class="row main" style="min-height: 600px;">
            <!-- <h1 class="text-center text-danger">Contact</h1> -->
            <div class="col-sm-2 mt-3 mb-3"></div>
            <div class="col-sm-8 mt-3 mb-3">
                <div class="card mb-3" style="min-height: 200px; border-radius: 50px 0px 0px 0px;">
                    <div class="row g-0" >
                        <div class="col-md-4 p-1 pb-0">
                            <!-- <img src="{{url_for('static',filename='images/hcard2.png')}}" class="img-fluid rounded-start" alt="" style="height: 200px;"> -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.438761698667!2d82.918039175237!3d25.255821677673264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e32d8078a2c2f%3A0xa6813f724988d305!2z4KS44KWN4KSV4KWC4KSyIOCkkeCkq-CkvCDgpK7gpYjgpKjgpYfgpJzgpK7gpYfgpILgpJ8g4KS44KS-4KSH4KSC4KS44KWH4KS4!5e0!3m2!1shi!2sin!4v1753427928334!5m2!1shi!2sin" style=" min-height: 200px; width: 300px; border-top: 5px solid gray; border-left: 5px solid gray; border-radius: 50px 0px 0px 0px; margin: 0px; padding: 0px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="card-title h4" style="font-style: italic;">HOW TO REACH</h5></div>
                                    <div class="col-sm-3 text-center" style="font-size: 80px;">
                                        <a href="https://maps.app.goo.gl/dxM5PBEqjWfxrnvR8"><i class="bi bi-geo-alt-fill"></i></a>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="card-text">
                                            <h4>The Institute is located at a distance of :</h4>
                                            <ul class="h6">
                                                <li>35 KM from the Babatpur airport🛬🛫</li>
                                                <li>13 KM from the Varanasi Jn. Railway Station 🚂🚃🚃</li>
                                                <li>13 KM from the Roadways Bus Stand 🚌🚌🚌</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="card mb-3" style="min-height: 200px;">
                    <div class="row g-0 p-0 m-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="card-title h4" style="font-style: italic; text-align: right;">CAMPUS LOCATION</h5></div>
                                    <div class="col-sm-9" style="margin-top: 0px;">
                                        <p class="card-text">
                                            <h5>School of Management Sciences Campus, Khusipur, Bachhawn, Uttar Pradesh 221011</h5>
                                            <h6>Phone: 07052055555, 08953761666, 08953940777</h6>
                                        </p>
                                    </div>
                                    <div class="col-sm-3 text-center" style="font-size: 80px;">
                                        <a href="https://maps.app.goo.gl/dxM5PBEqjWfxrnvR8"><i class="bi bi-building"></i></a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-4 p-1">
                            <img src="{{url_for('static',filename='images/college1.png')}}" class="img-fluid rounded-start" alt=""  style=" min-height: 200px; width: 100%; border-right: 5px solid gray;">
                        </div>
                    </div>
                </div> 
                <div class="card mb-3" style="min-height: 200px; border-radius: 0px 0px 50px 0px;">
                    <div class="row g-0" >
                        <div class="col-md-4 p-1 pb-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1835905.3027665121!2d79.89354844930786!3d26.008922315266247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2de2189dfd99%3A0xa6540dd6037eb288!2z4KS44KWN4KSV4KWC4KSyIOCkkeCkq-CkvCDgpK7gpYjgpKjgpYfgpJzgpK7gpYfgpILgpJ8g4KS44KS-4KSH4KSC4KS44KWH4KSc!5e0!3m2!1shi!2sin!4v1753558511842!5m2!1shi!2sin" style=" min-height: 200px; width: 300px; border-left: 5px solid gray; border-bottom: 5px solid gray; border-radius: 0px 0px 0px 0px;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="card-title h4" style="font-style: italic;">CITY OFFICE</h5></div>
                                    <div class="col-sm-3 text-center" style="font-size: 80px;">
                                        <a href="https://maps.app.goo.gl/MJa95TCiiXq4JraD6"><i class="bi bi-buildings-fill"></i></a>
                                    </div>
                                    <div class="col-sm-9" style="margin-top: 0px;">
                                        <p class="card-text">
                                            <h5>School of Management Sciences 6th Floor, Vinayak Plaza, Maldahiya Crossing, Maldahiya, Chetganj, Varanasi, Uttar Pradesh 221001</h5>
                                            <h4>Phone: 8400277770</h4>
                                        </p>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="col-sm-2 mt-3 mb-3"></div>
        </div>
        {% include 'common/footer.html' %}
        {% include 'common/chatpopup.html' %}
    </div>
</body>
</html>