<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FQA</title>
    {% include 'common/mylinks.html' %}
</head>
<body>
    <div class="container-fluid" style="background-color: #fff9f7;">
        {% include 'common/header.html' %}
        <div class="row main" style="min-height: 600px;  ">
            <div class="col-sm-3 mt-3"></div>
            <div class="col-sm-6 mt-3">
                    <h1 class="text-center text-danger m-0 p-0">FAQs</h1><hr/>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPrivateGovt" aria-controls="offcanvasPrivateGovt ">
                        Is SMS Varanasi private or Government?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasGoodMBA" aria-controls="offcanvasGoodMBA">
                        Is SMS Varanasi good for MBA?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAdmission" aria-controls="offcanvasAdmission">
                        Is admission open at SMS College Varanasi?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUGC" aria-controls="offcanvasUGC">
                        Is SMS Varanasi UGC approved?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFee" aria-controls="offcanvasFee">
                        What is the Fee Structure of Post Graduate (PG)?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#UgFee" aria-controls="UgFee">
                        What is the Fee Structure of Under Graduate (UG)?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#HostelFee" aria-controls="HostelFee">
                        What is the Fee Structure of Hostel?
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Criteria" aria-controls="Criteria">
                        What are the eligibility criteria for all courses at SMS Varanasi?
                    </button>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasPrivateGovt" aria-labelledby="offcanvasPrivateGovtLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasPrivateGovtLabel">Is SMS Varanasi private or Government?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p>SMS Varanasi is a private institute that was established in the year 1995 and has been granted Autonomous Status by UGC and ‘A” Grade by NAAC.</p>
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasGoodMBA" aria-labelledby="offcanvasGoodMBALabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasGoodMBALabel">Is SMS Varanasi good for MBA?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p>School of Management Sciences Varanasi offers one of the most reputed MBA programs in the whole of North India. This year, it invited more than 50 Marketing, Finance, HR and IT companies to its college campus – especially for MBA & MCA students. Hence, it stands out for providing better placement opportunities than other MBA Colleges in UP.</p>
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasAdmission" aria-labelledby="offcanvasAdmissionLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasAdmissionLabel">Is admission open at SMS College Varanasi?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p>Admissions for postgraduate courses like MBA at SMS Varanasi typically begin early in the year and are based on scores from national entrance exams like CAT, MAT, XAT, CMAT, etc., followed by a Group Discussion and Personal Interview.</p>
                        <p>As of July 2025, the admission process for the 2025-26 session would likely be concluding. It is best to check the <b>official SMS Varanasi website</b> for the most current and accurate admission status and deadlines.</p>
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasUGC" aria-labelledby="offcanvasUGCLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasUGCLabel">Is SMS Varanasi UGC approved?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p>UGC has granted SMS the Prestigious Autonomous status. This management college in Varanasi has been relentlessly pursuing the ruthless path of growth and excellence and has a growing recognition as one of the top B-schools in India.</p>
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasFee" aria-labelledby="offcanvasFeeLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasFeeLabel">What is the Fee Structure of Post Graduate (PG)?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th class="text-center" colspan="4">POSTGRADUATE COURSES</th>
                            </tr>
                            <tr>
                                <th>COURSE</th>
                                <th>TOTAL FEES (APPROX.)</th>
                                <th>TUITION FEE</th>
                                <th>ELIGIBILITY</th>
                            </tr>
                            <tr>
                                <td>MCA</td>
                                <td>&#8377; 2,2 Lakhs</td>
                                <td>&#8377; 1,65 Lakhs</td>
                                <td>Graduation + CUET</td>
                            </tr>
                            <tr>
                                <td>MBA</td>
                                <td>&#8377; 3,48 Lakhs</td>
                                <td>&#8377; 2,88 Lakhs</td>
                                <td>Graduation with 50% + CAT/MAT</td>
                            </tr>
                            <tr>
                                <td>M.Com</td>
                                <td>&#8377; 80,000</td>
                                <td>&#8377; 60,000</td>
                                <td>Graduation + CUET</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="UgFee" aria-labelledby="UgFeeLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="UgFeeLabel">What is the Fee Structure of Under Graduate (UG)?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th class="text-center" colspan="4">UNDER GRADUATE COURSES</th>
                            </tr>
                            <tr>
                                <th>COURSE</th>
                                <th>TOTAL FEES (APPROX.)</th>
                                <th>TUITION FEE</th>
                                <th>ELIGIBILITY</th>
                            </tr>
                            <tr>
                                <td>BCA</td>
                                <td>&#8377; 2,28 Lakhs</td>
                                <td>&#8377; 1,2 Lakhs</td>
                                <td>10+2</td>
                            </tr>
                            <tr>
                                <td>BBA</td>
                                <td>&#8377; 2,8 Lakhs</td>
                                <td>&#8377; 2,55 Lakhs</td>
                                <td>10+2 with CUTE</td>
                            </tr>
                            <tr>
                                <td>BA (Mas Comm.)</td>
                                <td>&#8377; 1,3 Lakhs</td>
                                <td>&#8377; 1,5 Lakhs</td>
                                <td>10+2</td>
                            </tr>
                            <tr>
                                <td>BA + LLB</td>
                                <td>&#8377; 1,87 Lakhs</td>
                                <td>&#8377; 1,5 Lakhs</td>
                                <td>10+2 with CUTE</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="HostelFee" aria-labelledby="HostelFee">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="HostelFee">What is the Fee Structure of Hostel?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th colspan="2" class="text-center">HOSTEL FEE DETAILS</th>
                            </tr>
                            <tr>
                                <td>Male Students</td>
                                <td>&#8377;90,000 per year</td>
                            </tr>
                            <tr>
                                <td>Female Students</td>
                                <td>&#8377;95,000-1,05 Lakhs per year</td>
                            </tr>
                        </table>
                        <img src="{{url_for('static',filename='images/hostel.png')}}" alt="">
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="Criteria" aria-labelledby="Criteria">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="Criteria">What are the eligibility criteria for all courses at SMS Varanasi?</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <span><b>Undergraduate Courses</b> (BBA, BCA, B.Com, B.Com (Hons), BA (Hons) in Mass Communication):</span>
                        <ul>
                            <li>Must have passed 10+2 or equivalent from a recognized board.</li>
                            <li>Minimum percentage and subject requirements may vary by course.</li>
                        </ul>
                        <span class="b">Postgraduate Courses:</span>
                        <ul>
                            <li><b>MBA : </b>Graduation in any discipline with a minimum of 50% marks (45% for SC/ST). Final-year students may apply.</li>
                            <li><b>MCA : </b>Graduation in any discipline with Mathematics at 10+2 or graduation level, with a minimum of 50% marks (45% for SC/ST). Final-year students may apply.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-3"></div>
        </div>
        {% include 'common/footer.html' %}
        {% include 'common/chatpopup.html' %}
    </div>

</body>
</html>